.contacto {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: black;
}

.contactoflex {
    margin: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}

#hablemos {
    flex-grow: 1;
}

#formcontacto {
    flex-basis: 528px;
    flex-grow: 0;
}

.contactocol {
    width: 30%;
    justify-content: center;
    align-items: center;
}

.formcontacto {
    font-family: 'montserrat';
    font-size: 1.8rem;
    width: 100%;
}

.inputtext {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: $tparrafo;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: rgba(255, 255, 255, 0.1);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-top-color: rgb(206, 212, 218);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(206, 212, 218);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(206, 212, 218);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(206, 212, 218);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#inputmensaje {
    height: 20rem;
}

.inputcheck {
    position: relative;
}

#buttoncontact {
    color: $blanco;
    font-family: $fparrafo;
    font-size: $tparrafo;
    background: $gradientevioleta;
    border-color: transparent;
}

.mapa {
    position: absolute;
    min-height: 100vh;
    z-index: 0;
    filter: saturate(0) opacity(20%);
}