.footer {
    color: white;
    background-color: black;
    align-items: center;
    position: relative;
    z-index: 2;
    a {
        color: white;
    }
    h6 {
        cursor: pointer;
    }
}

.logofooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    width: 100%;
}

.boxfooter {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    justify-content: center;
    grid-gap: 60px 60px;
}

.colfooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    box-sizing: border-box;
}

.poweredby {
    padding: inherit;
    background-color: rgb(31, 31, 31);
    font-weight: 100;
    padding: 5px;
    text-align: center;
}