$violeta: #610098;
$gradientevioleta: linear-gradient(100.37deg, #610098 38.77%, #440098 82.37%);
$blanco: #FFFFFF;
$blanco1: #f1f1f1;
$blanco2: #e5e5e5;
$negro: #000000;
$negro1: #212529;
$ftitulo: "Bebas Neue";
$ttitulo: 11rem;
$fparrafo: "montserrat";
$tparrafo: 1.8rem;